<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- Нахождение файла конфигурации импульс сервера -->
    <add key="cfgpath" value="C:\STP\IS\ImpulsesServer.cfg" />
    <!-- Нахождение таблиц ТУ и ТС -->
    <add key="tablespath" value="C:\STP\ARM\tables" />
    <!-- Ip - адрес и порт импульс сервера -->
    <add key="constring" value="tcp://127.0.0.1:5051" />
    <!-- нахождение графики проекта -->
    <add key="grafick_project" value="C:\STP\ARM\Щиты\100001\Стойка питания.xml" />
    <!-- путь к файлу c описанием детального вида станции  -->
    <add key="view_stations" value="C:\STP\ARM\ViewStations.csv" />
    <!-- путь к набору описаний ТС состояний обектов. -->
    <add key="filestationTS" value="C:\STP\ARM\TS.xml" />
    <!-- путь к файлу конфигурации стилей расскраски -->
    <add key="file_styles" value="C:\STP\ARM\ColorCollection.txt" />
    <!-- путь к набору описаний аналоговых обектов. -->
    <add key="filestationAnalog" value="C:\STP\ARM\arm_analog.xml" />
    <!-- Процент масштабирования при сохранении-->
    <add key="scroll_save" value="1" />
    <!-- Процент масштабирования при основной работе-->
    <add key="scroll_main" value="10" />
    <!--Место нахождения файла настроек-->
    <add key="file_settings" value="C:\STP\ARM\settings.xml"/>
    <!--Файл с конфигурацией лога-->
    <add key="file_log_configuration" value=".\Log4NetConfig.xml"/>
    <!--Число сообщений выводимых на экран-->
    <add key="max_count_message" value="1000"/>
    <!--Директория файлов диагностики-->
    <add key="Diagnostics" value="d:\stp\Diagnostic"/>
    <!--Время возврата на главный вид в секундах-->
    <add key="ReturnTime" value="300"/>
	<!--Максимальный размер файла диагностики, в MB-->
	<!--<add key="MaxFileDiagnostics" value="2"/>-->
  </appSettings>

</configuration>